/* Created by Swarup Mahato */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Raleway&display=swap');

body {
    height: 100vh;
    background-color: white;
    overflow: hidden;
    user-select: none;
    font-family: Raleway;
}

button {
    outline: none;
}

#load {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 1000000000000;
}

#loader {
    position: absolute;
    top: calc(50vh - 25px);
    left: 0;
    height: 50px;
    width: 100vw;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

#yo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.controls {
    position: absolute;
    height: 69px;
    width: calc(50vw - 2px);
    text-align: center;
    background-color: rgba(150,150,150,0.4);
    display: none;
    top: calc(100vh - 70px);
    z-index: 100;
    border: 1px solid black;
    line-height: 70px;
    font-size: 30px;
    font-weight: 700;
    transition: 0.5s ease-out;
}

#show-hide-btn {
    position: absolute;
    top: 0;
    left: 10px;
    height: 30px;
    width: 180px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    background: linear-gradient(0deg, rgb(144,238,144), rgb(250,150,200));
    z-index: 100;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

#btn-left {
    left: 0;
}

#btn-right {
    left: 50vw;
}

#btn-up {
    top: calc(100vh - 140px);
    left: 25vw;
}

#shop-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 150px;
    background-color: rgb(255, 100, 100);
    border-radius: 10px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    font-weight: 900;
}

#shop-btn:hover {
    background-color: rgb(255, 150, 150);
}

#shop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: lightgreen;
    z-index: 500;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.shop-criteria {
    position: relative;
    left: 20px;
    margin-top: 30px;
    width: calc(100vw - 40px);
    border-radius: 10px;
    height: 180px;
    background-color: rgb(220, 150, 100);
}

.criteria {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
}

.bar {
    position: absolute;
    top: 100px;
    height: 20px;
    width: 80%;
    left: 10%;
    background-color: red;
    border-radius: 0 5px 5px 0;
}

#shop-heading {
    position: relative;
    top: 20px;
    left: 0;
    width: 100vw;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 5px;
}

.bar-complete {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: green;
    transition: width 1s;
}

.upgrade-btn {
    position: absolute;
    top: 130px;
    left: calc(100% - 210px);
    height: 50px;
    width: 200px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 600;
    background-color: rgb(0,150,0);
    background-image: url("https://drive.google.com/thumbnail?id=1gZfMHuv4OBhtsiQ_91LQoHd74GhPdhCB");
    background-size: 50px 50px;
    background-position: 150px 0;
    background-repeat: no-repeat;
    border-radius: 0 0 5px 0;
    padding-left: 10px;
}

.upgrade-btn:hover {
    filter: brightness(120%);
}

#specials {
    position: relative;
    left: 0;
    margin-top: 50px;
    height: 80px;
    line-height: 80px;
    width: 100vw;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    background: linear-gradient(90deg, transparent, rgb(200,255,200), transparent);
}

.special-btn {
    position: relative;
    margin-top: 30px;
    left: 10px;
    height: 30px;
    width: 250px;
    font-size: 20px;
    font-weight: 900;
    background-color: rgb(0,150,0);
    background-image: url("https://drive.google.com/thumbnail?id=1gZfMHuv4OBhtsiQ_91LQoHd74GhPdhCB");
    background-size: 50px 50px;
    background-position: 215px 0;
    background-repeat: no-repeat;
    border-radius: 20px 0 20px 0;
    padding: 10px;
    line-height: 30px;
    animation: specialAnim 2s ease-in-out 0s infinite;
}

.special-cost {
    position: absolute;
    left: calc(100% - 80px);
    top: 10px;
}

#hard-game {
    width: 280px;
    font-size: 18px;
    font-weight: 600;
    background-position: 245px 0;
    height: 70px;
}

#not-rec {
    position: absolute;
    top: 50px;
    font-size: 15px;
    
}

@keyframes specialAnim {
    0%, 100% {filter: brightness(100%);}
    50% {filter: brightness(150%);}
}

#follow {
    position: relative;
    margin-top: 20px;
    left: 10px;
    height: 200px;
    width: calc(100vw - 20px);
    background-color: white;
    border-radius: 20px;
    transition: opacity 1s ease-in;
}

#plus100 {
    position: absolue;
    top: 50px;
    height: 100px;
    width: 100%;
    left: 0;
    color: black;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
}

#follow-question {
    position: absolute;
    top: 20px;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    background-color: rgba(255,255,200);
    border-radius: 20px;
    font-weight: 800;
}

.follow-answer {
    position: absolute;
    top: 120px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}

#follow-yes {
    left: calc(50% - 150px);
    background-color: green;
    animation: specialAnim 1s linear 0s infinite;
}

#follow-no {
    left: calc(50% + 50px);
    background-color: red;
}

#tutorials {
    position: relative;
    left: 0;
    margin-top: 60px;
    height: 80px;
    line-height: 80px;
    width: 100vw;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    background: linear-gradient(90deg, transparent, rgb(200,255,200), transparent);
}

#excuse {
    position: relative;
    margin-top: 5px;
    font-size: 15px;
    width: 100vw;
    left: 0;
    height: 50px;
}

.tut-lvl {
    position: relative;
    margin-top: 15px;
    left: 10px;
    width: calc(100vw - 20px);
    height: 300px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
}

.tl-heading {
    position: absolute;
    top: 10px;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

video {
    width: 300px;
    position: absolute;
    top: 70px;
    left: calc(50% - 150px);
}

.cost {
    position: absolute;
    top: 0;
    left: calc(100% - 80px);
    font-weight: 900;
}

#shop-back {
    position: fixed;
    top: calc(100vh - 50px);
    left: calc(100vw - 100px);
    height: 50px;
    width: 100px;
    background-color: rgb(255,100,100);
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    line-height: 50px;
}

#notif {
    position: absolute;
    top: 20px;
    left: calc(50vw - 150px);
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    display: none;
    opacity: 0;
    transition: 0.5s ease-in-out;
    text-align: center;
    z-index: 1000;
}

#progress-bar {
    position: absolute;
    top: 100px;
    left: calc(50vw - 100px);
    width: 200px;
    height: 15px;
    border-radius: 10px;
    background: linear-gradient(0deg, pink, purple);
    z-index: 100;
    overflow: hidden;
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: lightblue;
}

#restart-btn {
    position: absolute;
    top: 35px;
    left: 15px;
    height: 30px;
    width: 150px;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
    background-color: lightgreen;
    border-radius: 5px;
    z-index: 100;
}

#alert-background {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 1s linear;
}

#alert {
    position: absolute;
    top: 100px;
    left: 50px;
    height: calc(100vh - 200px);
    width: calc(100vw - 100px);
    background-color: white;
    border-radius: 10px;
}

#alert-heading {
    position: absolute;
    top: 10px;
    left: 0;
    height: 30px;
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

#alert-text {
    position: absolute;
    top: 70px;
    left: 5%;
    width: 90%;
    font-size: 20px;
    height: calc(100vh - 200px - 150px - 70px - 10px);
    overflow-x: hidden;
}

#alert-illustration {
    position: absolute;
    top: calc(100% - 150px);
    left: calc(50% - 30px - 5px);
    height: 55px;
    width: 60px;
    border: 5px solid black;
    overflow: hidden;
}

#alert-button {
    position: absolute;
    top: calc(100% - 120px + 65px + 10px);
    height: 40px;
    width: 100px;
    left: calc(100% - 100px);
    background-color: rgb(100, 255, 100);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

#alert-button:hover {
    background-color: rgb(150,255,150);
}

.ill {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}

#thorns {
    animation: thornAnim 3.2s linear 1s infinite;
}

#creature-ill {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-image: url("https://drive.google.com/thumbnail?id=1H0uQhROW_wF8Fbc5y03Pff4-0k5RB5a6");
    background-position: 0 0;
    background-size: 50px 50px;
    animation: creatureAnim 0.3s linear 1s infinite;
}

#cb-ill {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 20px;
    width: 20px;
    background-image: url("https://drive.google.com/thumbnail?id=1voOdFQcPJlVRQSYIJwRXUpjmM317_A6F");
    background-size: 100% 100%;
    animation: cbAnim 2s linear 0s infinite;
}

@keyframes cbAnim {
    0%, 90% {left: 20px;}
    100% {left: -20px;}
}

#cannon-ill {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 45px;
    width: 45px;
    background-image: url("https://drive.google.com/thumbnail?id=1P0G9swz7Qzp7e_8ZpiWHX2QWckDNwLr7");
    background-size: 100% 100%;
}

#ml-ill {
    position: absolute;
    top: 25px;
    left: 0;
    height: 10px;
    width: 20px;
    background-color: green;
    animation: mlAnim 2s linear 0s infinite;
}

@keyframes mlAnim {
    0%,100% {left: 0;}
    50% {left: 40px;}
}

@keyframes creatureAnim {
    0% {background-image: url("https://drive.google.com/thumbnail?id=19OPHBzr4qjak1Miu93FzFPMCyHqOyob4");}
    50% {background-image: url("https://drive.google.com/thumbnail?id=1H0uQhROW_wF8Fbc5y03Pff4-0k5RB5a6");}
}

@keyframes thornAnim {
    0% {background-position: 0 50px;}
    50% {background-position: 0 50px;}
    56.25% {background-position: 0 0;}
    100% {background-position: 0 0;}
}

#fake-land {
    left: 0;
    width: 60px;
    animation: fakeLandAnim 3.2s linear 1s infinite;
}

@keyframes fakeLandAnim {
    0% {top: 5px;}
    50% {top: 5px;}
    56.25% {top: 55px;}
    100% {top: 55px;}
}

#coins-count {
    position: absolute;
    left: 40px;
    width: 155px;
    height: 50px;
    top: 0;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

#coins {
    position: absolute;
    top: 5px;
    left: calc(100vw - 180px);
    height: 25px;
    width: 180px;
    z-index: 100000;
    background-color: white;
    background-image: url("https://drive.google.com/thumbnail?id=1DiUmbfEi22zmfZw-ClXdJTbQ9eX45gfM");
    background-position: 10px 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#plus-ten {
    position: absolute;
    height: 50px;
    width: 50px;
    display: none;
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 1000;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
}

.game {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    transition: opacity 1s;
    z-index: 100;
}

.result {
    position: absolute;
    top: 100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: 1s;
    z-index: 120;
}

.heading {
    position: absolute;
    top: 20vh;
    font-size: 60px;
    left: 0;
    width: 100vw;
    text-align: center;
    color: white;
}

.btn {
    position: absolute;
    top: 50vh;
    left: calc(50vw - 125px);
    width: 250px;
    text-align: center;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 20px;
}

.btn:hover {
    background-color: rgb(100, 255, 100);
}

.menu-btn {
    top: calc(50vh + 100px);
}

.next-lvl {
    top: calc(50vh + 200px);
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: lightgreen;
    overflow-y: scroll;
}

.lvl {
    position: absolute;
    height: 130px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
    background-image: url("https://drive.google.com/thumbnail?id=1i12uzb_yh6d2h2krRrc5rQRuNdpBPENb");
    background-size: 100px 100px;
    background-position-y: 30px;
    background-repeat: no-repeat;
    border-radius: 20px 20px 10px 10px;
}

#lvl-1 {
    top: 100px;
    left: 50px;
    background-image: url("https://drive.google.com/thumbnail?id=1PG4nGFDphbA7WTmnWq2jtKGatXm1sEf7");
}

#lvl-2 {
    top: 100px;
    left: 200px;
}

#lvl-3 {
    top: 300px;
    left: 50px;
}

#lvl-4 {
    top: 300px;
    left: 200px;
}

#lvl-5 {
    top: 500px;
    left: 50px;
}

.object {
    /*transition: 0.2s linear;*/
    position: absolute;
    z-index: 10;
}

.spikes {
    z-index: 5;
    background-image: url("https://drive.google.com/thumbnail?id=19gS3bZOh623rFMqVP2aeLsT6xAKJE7v4");
    background-size: 50px 50px;
    transition: top 0.2s linear;
}

.land {
    background-color: green;
}

.weak-land {
    background-color: green;
    transition: top 0.2s linear;
}

.box {
    background-image: url("https://drive.google.com/thumbnail?id=1qORyBsf4i4qA3g1jO1SlHz3rGmo4-nLX");
    background-size: 50px 50px;
}

.coin {
    background-image: url("https://drive.google.com/thumbnail?id=1DiUmbfEi22zmfZw-ClXdJTbQ9eX45gfM");
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
}

.mario {
    position: absolute;
    top: 60vh;
    left: 20vw;
    background-image: url("https://drive.google.com/thumbnail?id=1Y2USixLoQlYpEHiONc3vTJfLcP5UZMV4");
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.creature {
    position: absolute;
    top: calc(60vh + 15px);
    height: 35px;
    width: 30px;
    background-image: url("https://drive.google.com/thumbnail?id=19OPHBzr4qjak1Miu93FzFPMCyHqOyob4");
    background-size: 40px 40px;
    background-position: -5px -5px;
    animation: creatureAnim 0.3s linear 1s infinite;
    /*transition: .5s linear;*/
}

@keyframes creatureAnim {
    0%,50% {background-image: url("https://drive.google.com/thumbnail?id=19OPHBzr4qjak1Miu93FzFPMCyHqOyob4");}
    51%,100% {background-image: url("https://drive.google.com/thumbnail?id=1H0uQhROW_wF8Fbc5y03Pff4-0k5RB5a6");}
}

.cannonball {
    position: absolute;
    top: calc(60vh + 15px);
    height: 20px;
    width: 20px;
    background-image: url("https://drive.google.com/thumbnail?id=1voOdFQcPJlVRQSYIJwRXUpjmM317_A6F");
    background-size: 100% 100%;
    z-index: 5;
}

.cannon {
    position: absolute;
    top: calc(60vh);
    height: 50px;
    width: 50px;
    background-image: url("https://drive.google.com/thumbnail?id=1P0G9swz7Qzp7e_8ZpiWHX2QWckDNwLr7");
    background-size: 100% 100%;
}

.moving-land {
    background-color: green;
}

#a {
    top: calc(60vh + 50px);
    left: 0;
    height: calc(40vh - 50px);
    width: 850px;
}

#b {
    top: calc(60vh);
    left: 700px;
    height: calc(50px);
    width: 100px;
}

#c {
    top: calc(60vh);
    left: 925px;
    height: calc(50px);
    width: 100px;
}

#d {
    left: 500px;
    top: calc(60vh - 50px);
    height: 100px;
    width: 50px;
}

#e {
    left: 600px;
    top: calc(60vh - 150px);
    height: 50px;
    width: 150px;
}

#f {
    left: 1100px;
    height: 50px;
    top: calc(60vh);
    width: 100px;
}

#g {
    left: 1300px;
    height: calc(40vh - 50px);
    top: calc(60vh + 50px);
    width: 300px;
}

#h {
    left: 800px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 100px;
}

#i {
    top: calc(60vh);
    left: 700px;
    height: calc(50px);
    width: 100px;
}

#j {
    top: calc(60vh - 150px);
    left: 700px;
    height: 50px;
    width: 50px;
}

#k {
    left: 1100px;
    height: 50px;
    top: calc(60vh);
    width: 50px;
}

#l {
    left: 1400px;
    top: calc(60vh - 50px);
}

.flag {
    position: absolute;
    background-image: url("https://drive.google.com/thumbnail?id=1XjUC1dzEP-GCM6KbyhShZjz1uFZv8TkF");
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    transition: top 0.5s linear;
    z-index: 20;
}

#m {
    left: 1400px;
    top: calc(60vh - 50px);
}

.stump {
    position: absolute;
    height: 100px;
    width: 5px;
    background-color: black;
    z-index: 20;
}

#n {
    left: 1400px;
    top: 0;
    height: calc(60vh + 50px);
    width: 50px;
}

#o {
    left: 500px;
    top: calc(60vh - 100px);
}

#p {
    left: 800px;
    top: calc(60vh);
}

#q {
    left: 850px;
    top: calc(60vh - 250px);
}

#r {
    left: 1150px;
    top: calc(60vh - 50px);
}

#aa {
    left: 0;
    height: calc(40vh - 50px);
    top: calc(60vh + 50px);
    width: 800px;
}

#ab {
    left: 400px;
    height: 50px;
    width: 50px;
    top: calc(60vh);
}

#ac {
    left: 450px;
    height: 100px;
    width: 50px;
    top: calc(60vh - 50px);
}

#ad {
    left: 500px;
    height: 150px;
    width: 50px;
    top: calc(60vh - 100px);
}

#ae {
    left: 550px;
    height: 200px;
    width: 50px;
    top: calc(60vh - 150px);
}

#af {
    left: 600px;
    height: 250px;
    width: 50px;
    top: calc(60vh - 200px);
}

#ag {
    left: 400px;
    top: calc(60vh);
    height: 50px;
    width: 50px;
}

#ah {
    left: 500px;
    top: calc(60vh - 100px);
    height: 50px;
    width: 50px;
}

#ai {
    left: 600px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 50px;
}

#aj {
    left: 700px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 200px;
}

#ak {
    left: 700px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 200px;
}

#al {
    left: 850px;
    height: calc(40vh - 50px);
    width: 100px;
    top: calc(60vh + 50px);
}

#am {
    left: 1000px;
    height: calc(40vh - 50px);
    width: 150px;
    top: calc(60vh + 50px);
}

#an {
    left: 1200px;
    height: calc(40vh - 50px);
    width: 50px;
    top: calc(60vh + 50px);
}

#ao {
    left: 950px;
    height: calc(40vh - 50px);
    top: calc(60vh + 50px);
    width: 50px;
}

#ap {
    left: 1150px;
    height: calc(40vh - 50px);
    top: calc(60vh + 50px);
    width: 50px;
}

#aq {
    left: 1350px;
    height: 50px;
    width: 50px;
    top: calc(60vh - 50px);
}

#ar {
    left: 1300px;
    height: 50px;
    width: 200px;
    top: calc(60vh - 50px);
}

#as {
    left: 1650px;
    height: calc(40vh - 50px);
    width: 200px;
    top: calc(60vh + 50px);
}

#at {
    left: 1700px;
    top: calc(60vh - 50px);
}

#au {
    left: 1700px;
    top: calc(60vh - 50px);
}

#av {
    left: 550px;
    top: calc(60vh - 200px);
}

#aw {
    left: 1050px;
    top: calc(60vh);
}

#ax {
    left: 1400px;
    top: calc(60vh - 100px);
}

#ay {
    left: 1000px;
    top: calc(60vh);
    height: 50px;
    width: 50px;
}

#az {
    left: 1000px;
    top: calc(60vh);
    height: 50px;
    width: 50px;
}

#ba {
    left: 1100px;
    top: calc(60vh - 150px);
    height: 50px;
    width: 150px;
}

#bb {
    left: 1150px;
    top: calc(60vh - 150px);
    height: 50px;
    width: 50px;
}

#bc {
    left: 1100px;
    top: calc(60vh - 200px);
}

#ca {
    left: 0;
    height: calc(40vh - 50px);
    top: calc(60vh + 50px);
    width: 450px;
}

#cb {
    left: 500px;
    height: 50px;
    width: 50px;
    top: calc(60vh);
}

#cc {
    left: 800px;
    height: 100px;
    width: 50px;
    top: calc(60vh - 50px);
}

#cd {
    left: 550px;
}

#ce {
    left: 500px;
    width: 50px;
    top: calc(60vh);
    height: 50px;
}

#cf {
    left: 450px;
    height: calc(40vh - 50px);
    top: calc(60vh + 50px);
    width: 50px;
}

#cg {
    left: 500px;
    height: calc(40vh - 50px);
    width: 500px;
    top: calc(60vh + 50px);
}

#ch {
    top: calc(60vh + 50px);
    left: 700px;
    height: 50px;
    width: 50px;
}

#ci {
    left: 900px;
    top: calc(60vh - 100px);
    height: 50px;
    width: 100px;
}

#cj {
    left: 1050px;
    top: calc(60vh + 50px);
    height: 50px;
    width: 50px;
}

#ck {
    left: 1250px;
    top: calc(60vh + 100px);
    height: 50px;
    width: 100px;
}

#cl {
    left: 1050px;
    top: calc(60vh);
}

#cm {
    left: 1400px;
    height: 50px;
    width: 50px;
    top: calc(60vh);
}

#cn {
    left: 1550px;
    height: 50px;
    width: 100px;
    top: calc(60vh + 100px);
}

#co {
    left: 1700px;
    height: 50px;
    width: 50px;
    top: calc(60vh);
}

#cp {
    left: 1700px;
    top: calc(60vh - 50px);
}

#cq {
    left: 1050px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 450px;
}

#cr {
    left: 1100px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 100px;
}

#cs {
    left: 1250px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 100px;
}

#ct {
    left: 1400px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 50px;
}

#cu {
    left: 1900px;
    top: calc(60vh + 50px);
    height: calc(40vh - 50px);
    width: 150px;
}

#cv {
    left: 2050px;
    top: calc(60vh - 50px);
    height: calc(40vh + 50px);
    width: 250px;
}

#cw {
    left: 2250px;
    top: calc(60vh - 150px);
    height: 100px;
    width: 50px;
}

#cx {
    left: 2100px;
    top: calc(60vh - 85px);
}

#cy {
    left: 2200px;
    height: 50px;
    width: 50px;
    top: calc(60vh - 50px);
}

#cz {
    left: 2500px;
    top: calc(60vh + 50px);
    height: calc(40vh - 50px);
    width: 200px;
}

#da {
    left: 2600px;
    top: calc(60vh - 50px);
}

#db {
    left: 2600px;
    top: calc(60vh - 50px);
}

#dc {
    left: 2000px;
    top: calc(60vh + 50px);
    height: 50px;
    width: 50px;
}

#dd {
    left: 2250px;
    top: calc(60vh - 200px);
}

#de {
    left: 1350px;
    top: calc(60vh - 250px);
}

#ea {
    left: 0;
    top: calc(60vh + 50px);
    height: calc(40vh - 50px);
    width: 600px;
}

#eb {
    left: 600px;
    width: 100px;
    height: calc(40vh);
    top: calc(60vh);
}

#ec {
    left: 700px;
    top: calc(60vh + 50px);
    width: 500px;
    height: calc(40vh - 50px);
}

#ed {
    left: 850px;
    top: calc(60vh - 60px);
    height: 50px;
    width: 100px;
}

#ee {
    left: 850px;
    top: calc(60vh - 60px);
    height: 50px;
    width: 100px;
}

#ef {
    left: 1170px;
}

#eg {
    left: 1150px;
}

#eh {
    left: 1300px;
    height: 50px;
    width: 100px;
    top: calc(60vh - 50px);
}

#ei {
    left: 1450px;
    height: 50px;
    width: 50px;
    top: calc(60vh - 150px);
}

#ej {
    left: 1350px;
    height: 50px;
    width: 50px;
    top: calc(60vh - 50px);
}

#ek {
    left: 1450px;
    height: 50px;
    width: 200px;
    top: calc(60vh + 50px);
}

#el {
    left: 1550px;
    height: 50px;
    width: 50px;
    top: calc(60vh + 50px);
}

#em {
    left: 1750px;
    height: 50px;
    width: 50px;
    top: calc(60vh);
}

#en {
    left: 1750px;
    top: calc(60vh - 50px);
}

#eo {
    left: 1850px;
    top: calc(60vh - 100px);
    height: 50px;
    width: 100px;
}

#ep {
    left: 1900px;
    top: calc(60vh - 100px);
    height: 50px;
    width: 50px;
}

#eq {
    left: 2000px;
    top: calc(60vh - 50px);
    height: 50px;
    width: 50px;
}

#er {
    left: 2150px;
    top: calc(60vh + 50px);
    height: 50px;
    width: 50px;
}

#es {
    left: 2250px;
    top: calc(60vh);
    height: calc(40vh);
    width: 250px;
}

#et {
    left: 2470px;
    top: calc(60vh - 35px);
}

#eu {
    left: 2450px;
    top: calc(60vh - 50px);
}

#ev {
    left: 2470px;
    top: calc(60vh - 85px);
}

#ew {
    left: 2450px;
    top: calc(60vh - 100px);
}

#ex {
    left: 2500px;
    top: calc(60vh - 150px);
    height: calc(40vh + 150px);
    width: 250px;
}

#ey {
    left: 2500px;
    top: calc(60vh - 185px);
}

#ez {
    left: 2750px;
    top: calc(60vh);
    height: calc(40vh);
    width: 200px;
}

#fa {
    left: 3100px;
    top: calc(60vh - 50px);
}

#fb {
    left: 3100px;
    top: calc(60vh - 50px);
}

#fc {
    left: 3050px;
    top: calc(60vh + 50px);
    width: 200px;
    height: calc(40vh - 50px);
}

#fd {
    left: 2450px;
    top: calc(60vh - 150px);
}

#fe {
    left: 2750px;
    top: calc(60vh - 50px);
}

#ff {
    left: 2150px;
    top: calc(60vh);
}

#ga {
    left: -50px;
    top: calc(60vh + 50px);
    height: calc(40vh - 50px);
    width: 850px;
}

#gb {
    left: -100px;
    top: calc(60vh);
    height: 50px;
    width: 100px;
}

#gc {
    left: -200px;
    top: calc(60vh - 50px);
    height: 50px;
    width: 100px;
}

#gd {
    left: -150px;
    top: calc(60vh - 160px);
    height: 50px;
    width: 50px;
}

#ge {
    left: -150px;
    top: calc(60vh - 210px);
}

#gf {
    left: 0;
    top: calc(60vh - 200px);
    height: 50px;
    width: 300px;
}

#gg {
    left: 450px;
    top: calc(60vh - 200px);
    height: 50px;
    width: 300px;
}

#gh {
    left: 450px;
    top: calc(60vh - 235px);
}

#gi {
    left: 400px;
    top: calc(60vh + 50px);
    height: 50px;
    width: 50px;
}

#gj {
    left: 750px;
    top: calc(60vh + 50px);
    height: 50px;
    width: 50px;
}

#gk {
    left: 900px;
    top: calc(60vh - 150px);
    height: 50px;
    width: 50px;
}

#gl {
    left: 800px;
    top: calc(60vh + 50px);
    height: calc(40vh - 50px);
    width: 150px;
}

#gm {
    left: 1100px;
    top: calc(60vh + 50px);
    height: 50px;
    width: 100px;
}

#gn {
    left: 1050px;
    top: -200px;
    height: 50px;
    width: 50px;
}

#go {
    left: 1500px;
    top: calc(60vh + 100px);
    height: calc(40vh - 100px);
    width: 100px;
}

#gp {
    left: 1750px;
    top: calc(60vh - 100px);
    height: calc(40vh + 100px);
    width: 250px;
}

#gq {
    left: 1750px;
    top: calc(60vh - 150px);
    height: 50px;
    width: 50px;
}

#gr {
    left: 1800px;
    top: calc(60vh - 100px);
    height: 50px;
    width: 50px;
}

#gs {
    left: 1650px;
    top: calc(60vh - 100px);
    height: 50px;
    width: 80px;
}

#gt {
    left: 1750px;
    top: calc(60vh - 200px);
}

#gu {
    left: 2570px;
    top: calc(60vh - 135px);
}

#gv {
    left: 2550px;
    top: calc(60vh - 150px);
}

#gw {
    left: 2500px;
    top: calc(60vh - 100px);
    height: 50px;
    width: 200px;
}

#gx {
    left: 2000px;
    top: calc(60vh + 50px);
    height: 50px;
    width: 300px;
}

#gy {
    left: 2650px;
    top: calc(60vh - 100px);
    height: 200px;
    width: 50px;
}

#gz {
    left: 2450px;
    top: calc(60vh + 50px);
    height: 50px;
    width: 250px;
}

#ha {
    left: 3300px;
    top: calc(60vh - 50px);
}

#hb {
    left: 3300px;
    top: calc(60vh - 50px);
}

#hc {
    left: 2250px;
    top: calc(60vh);
}

#hd {
    left: 2300px;
    top: calc(60vh + 170px);
    height: 50px;
    width: 100px;
}

#he {
    left: 2520px;
    top: calc(60vh + 15px);
}

#hf {
    left: 2500px;
    top: calc(60vh);
}

#hg {
    left: 3150px;
    top: calc(60vh + 150px);
    height: calc(40vh - 150px);
    width: 100px;
}

#hh {
    left: 3250px;
    top: calc(60vh + 50px);
    height: calc(40vh - 50px);
    width: 200px;
}











